# ignore cache
**/__pycache__/**/*

# ignore all colorscheme, except my custom one
editors/nvim/colors/*
!editors/nvim/colors/muclor.vim
# sensitive data
editors/nvim/secrets/*

# ignore plugings
editors/nvim/plugged
editors/nvim/.netrwhist

### MPV
# ignore watch_later list
other/mpv/watch_later
